<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>OneMap System Config Tool</title>
		<meta name="description" content="OneMap分布式安装配置工具."> 
		<link rel="stylesheet" type="text/css" href="css/custom.css"/>
		<script type="text/javascript" src="js/tabContainer.min.js"></script>
		<script type="text/javascript" src="js/tabDemo.js"></script>
	</head>

	<body>
		<div id="om-wrapper">
			<div id="om-wrapper-inner">
				<h2 class="om-def">OneMap System Config Tool</h2>
			</div>
		</div> 
		<div id="tabdemo" style="width:1000px;height:1000px;"></div>
		<script type="text/javascript" src="js/srvConfig.js"></script>
	</body>
</html>
